button{
    width:80px !important;
}

.ReactTable{
    margin:0 auto;
    justify-content:center;
    align-items:center;
    
    font-size:1.3em;
    width:90vw !important;
}
.rt-td{
    width:160px !important;
}
