@import 'bootstrap/dist/css/bootstrap.min.css';

.RegistrationPage{
    width:60%;
    
    height:90%;

    

}

.IIITB_logo {

    display: flex;
    grid-column: 2/3;
    /* background-color: antiquewhite; */
    justify-content: center;
    align-items: center;
  
  }
.form-label{
    font-size:1.2em;
}

.form-control{
    height: 40px;
    font-size:2rem;
}

input::-webkit-input-placeholder {
    font-size: 15px;
    line-height: 3;
}

