#loop{
    width:100vw !important;
    height:100vh;
    margin:0 auto;
    overflow:hidden;

}

.episodes{
    margin-left:40px;
    font-size: 1.8em !important;
}
.encounter{
    margin-left:80px;
    font-size: 1.8em !important;
}
.op_records{
    margin-left:120px;
    font-size: 1.8em !important;
}